<?xml version="1.0"?>
<model>
  <name>metal_bin</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>
  <author>
    <name>Recycling Facility</name>
    <email>recycling@facility.org</email>
  </author>
  <description>
    Yellow metal/aluminum recycling bin for indoor recycling facilities.
  </description>
</model>
