<?xml version="1.0"?>
<model>
  <name>paper_bin</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>
  <author>
    <name>Recycling Facility</name>
    <email>robot@facility.local</email>
  </author>
  <description>
    Green paper/cardboard recycling bin for indoor recycling facility.
  </description>
</model>
